*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: auto;
    overflow: hidden;
}
.header{
    width: 100%;
    padding: 0px 0px;
    border-bottom: 1px solid gray;
}

.nav{
    width: 100%;
    padding: 8px;

}
.logo{
    width: 20%;
    float: left;
}
.logo img{
    float: left;
    }
.menu{
    width: 80%;
    line-height: 32px;
    float: left;
    text-align: right;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    
}
.menu ul li a{
    text-decoration: none;
    padding: 0px  20px;
    text-transform: uppercase;
    color: black;
    float: left;
    
}

.banner {
width: 100%;
    padding: 0px 0px;
}
.banner-text {
   
}
.top {
margin-top: 50px;
text-align: center;
}
.top h1 {
font-size: 40px;
font-family: 'Poppins', sans-serif;
}
.top h1 span{
    color:#008aff;
    font-family: 'Poppins', sans-serif;
}
.bottom{
margin-top: 10px;
text-align: center;
}
.top p {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.content-area{
    width: 100%;
}
.content{
    width: 100%;
}
.left {
    width: 50%;
    text-align: right;
    float: left;
}
.right {
    width: 50%;
    text-align: left;
    float: left;
    
}
.right h3{
    padding-left: 20px;
    color: #0F2656;
    font-size: 36px;
}
.left h2{
    color: #F15767;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.left p{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.gellary-area{
    width: 100%; 
}
.gellary{
    width: 100%;
    margin-top: 30px;
}
.image1{
    width: 30%;
    float: left;
    text-align: left;
    background: #FDEBED;
    height: 400px;
    margin: 20px;
    
}

.image1 h2{
    padding: 10px 30px 10px 30px;
    font-family: 'Ubuntu', sans-serif;

}
.image1 p{
    padding: 10px 30px 10px 30px;
    font-family: 'Ubuntu', sans-serif;
}
.image2{
    width: 30%;
    float: left;
    text-align: left;
    background: #EBF9F4;
    height: 400px;
    margin: 20px;
}
.image2 h2{
    padding: 10px 30px 10px 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.image2 p{
    padding: 10px 30px 10px 30px;
    font-family: 'Ubuntu', sans-serif;
}
.image3{
    width: 30%;
    float: left;
    text-align: left;
    background: #FFF7E8;
    height: 400px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.image3 h2{
    padding: 10px 30px 10px 30px;
    font-family: 'Source Sans Pro', sans-serif;

}
.image3 p{
    padding: 10px 10px 10px 30px;
    font-family: 'Ubuntu', sans-serif;
}

.fotter-text{
padding: 20px;
    background-color: #008aff;
    text-align: center;
    width: 100%;
    margin-top: 30px;;
}
.fotter p span{
font-size: 15px;
font-weight: 700;

}
